# [9086]번

In [2]:
#문자열을 입력으로 주면 문자열의 첫 글자와 마지막 글자를 출력하는 프로그램을 작성하시오.

In [4]:
T = int(input())
 
for i in range(T):
    test = list(input())
    print(test[0] + test[-1])

# input()을 list()로 받아서 알파벳 하나하나가 낱개의 index가 되도록 설정

 3
 ACDKJFOWIEGHE

AE

 O

OO

 AB

AB

# [24883]번

In [7]:
#주어진 알파벳이 N 또는 n 이면 "Naver D2", 아니라면 "Naver Whale"을 따옴표를 제외하고 출력한다.

In [27]:
input_word = input()
if input_word == "N" or input_word == "n": # 논리연산은 소문자로 and, or를 사용한다
    print("Naver D2")
else:
    print("Naver Whale")

 N

Naver D2

# [25372]번

In [30]:
# 비밀번호는 6~9자리여야한다.
# 슷자 or 영어 대소문자로만 구성된 문자열이 주어진다

In [36]:
N = int(input())
for i in range(N):
    password = input()
    if len(password) >= 6 and len(password) <= 9:
        print("yes")
    else:
        print("no")

 3
 1245125

yes

 asdij

no

 120318739721

no

# [26082]번

In [39]:
# 가격대비 성능 = 성능/가격이고, a = 경쟁사 가격, b = 경쟁사 성능, c = 워보이 가격일 때 워보이의 성능을 구해라

In [49]:
# 워보이 가격대비 성능은 = 경쟁사의 3배
# 경쟁사의 가격대비 성능 = b / a 

Warboy_info = list(map(int, input().split()))
Warboy_performance = ((3 * (Warboy_info[1] / Warboy_info[0])) * Warboy_info[2]) 
print(int(Warboy_performance))

 10 100 7

210

# [27433]번

In [76]:
# 팩토리얼 계산기

In [73]:
num = int(input())
fact = 1                        # 초기값 설정
for i in range(1, num+1):       # i = 1 ~ 자기자신까지
    fact *= i                   # 초기값에 계속 곱해서 대입하기    
print(fact) 

# 2중 for문 전혀 필요없음

 10

3628800

# [27889]번

In [83]:
# 학교이름 약자로 주어지면 풀네임 출력하기

In [80]:
school_name = input()

if school_name == "NLCS":
    print("North London Collegiate School")
elif school_name == "BHA":
    print("Branksome Hall Asia")
elif school_name == "KIS":
    print("Korea International School")
elif school_name == "SJA":
    print("St. Johnsbury Academy")

 NLCS

North London Collegiate School

# [27959]번

In [101]:
# 100원짜리 N개로 M원짜리 아이스크림을 먹을 수 있는가?

In [97]:
N, M = list(map(int, input().split()))  # 2개의 변수를 동시에 설정할 때에는 list(map(int, input().split()))
if 100 * N >= M:
    print("Yes")
else:
    print("No")

 7 785

No

# [28113]번

In [104]:
#버스에 더 먼저 탑승할 수 있으면 Bus, 지하철에 더 먼저 탑승할 수 있으면 Subway,
#버스와 지하철에 탑승하게 되는 시간이 동일하면 Anything을 출력한다.
# A분 뒤에 버스 도착, 
# B분 뒤에 열차 도착
# N분 동안 전철에 걸어가야함
# 나는 현재 버스 정류장에 서있음

In [118]:
N, A, B = list(map(int, input().split()))
if B == N and A == N:
    print("Anything")
elif A < B + N:
    print("Bus")
elif A > B + N:
    print("Subway")

 1 100 1

Subway

# [28235]번

In [138]:
name = input()
if name == "SONGDO":
    print("HIGHSHCOOL")
elif name == "CODE":
    print("MASTER")
elif name == "2023":
    print("0611")
elif name == "ALGORITHM":
    print("CONTEST")

 CODE

MASTER

# [29751]번

In [142]:
# 밑변 W, 높이H인 삼각형의 넓이를 구해라
# 삼각형의 넓이 = 1/2(밑 * 높)

In [146]:
W, H = map(int, input().split())
tri = 0.5 * (W * H)
print(tri)

 2 3

3.0

# [30030]번

In [149]:
# 원래가치 A에 10% 더한 가격이 B이다
# B를 제시해줬을 때 원래가치 A를 구하라

In [153]:
price = int(input())
original = price * (100/110)
print(original)

 2700

2454.5454545454545